@model MyResponseBase

@{
    Layout = "~/Views/Shared/_LayoutDesign.cshtml";

    //数据类型：56：整数   106：小数    167：字符串   61：日期

    //字段类型：1：表字段   2：实体字段   3：表和实体字段

    List<TextValue> LoginCategoryIDs = new List<TextValue>
    { 
        new TextValue{Text="用户和代理商",Value="3"},
        new TextValue{Text="用户",Value="1"},
        new TextValue{Text="代理商",Value="2"},
    };
    List<TextValue> BMenus = new List<TextValue>
    { 
        new TextValue{Text="==菜单显示==",Value=""},
        new TextValue{Text="是",Value="1"},
    };
}

<div id='editP' class="operArea">
    <div>
        @*@Html.Navigation(Model.ModularOrFunCode)*@
        <ul class="breadcrumb myjuxing">
            <li><span class="icon-home"></span><a href="/">首页</a></li>
            <li>设计管理</li>
            <li><a href="/SysAreas/Design_ModularOrFun/">权限码管理</a></li>
            <li>修改</li>
        </ul>
    </div>
    @Html.Partial("Tab", Model)
    <div class='mastEditArea editArea  '>
        <form>
            <div class="container-fluid margin-top-15">
                <div class='form-horizontal merge targetdom'>
                    <input type='hidden' id="Item_Design_ModularOrFunID" name='Item.Design_ModularOrFunID' value='@Model.Item.Design_ModularOrFunID' />
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid childTableSelect">
        <div class='operArea' data-searchmethod='' data-url="">
            <div class="search-bar">
                <div class="tool-bar search-bar">
                    <div class="col-sm-2">
                        <a href='javascript:void(0);' data-tableid="#tbList" class='btn btn-success  btn-FwBtnSubmit'
                            data-posturl="/SysAreas/Design_PremSet/Row"
                            data-fun="200">
                            <span class="glyphicon glyphicon-plus"></span>添加权限码</a>
                    </div>
                    <div class="col-sm-10 text-right form-inline" id="SearchArea">
                    </div>
                </div>
            </div>
            <div class="scrollBar scrollBarAuto" style="width: 100%; overflow: auto;" data-width="2100">
                <div class="mylist container-fluid container" style="width: 100%;">
                    <table id='tbList' class=" table table-bordered table-hover table-striped" style="width: 100%">

                        @*                        <div class="scrollBar scrollBarAuto" style="width: 1800px;" data-width="1800">
                            <div class="mylist container-fluid container" style="width: %;">
                                <table id='tbList' class="table table-bordered table-hover table-striped " style="width: 100%;">*@
                        <thead>
                            <tr>
                                <th class="lockhead">序号 </th>
                                <th class="lockhead" style="width: 300px;">操作 </th>
                                <th class="lockhead" style="width: 100px;">排序</th>
                                <th class="lockhead">权限名称</th>
                                <th class="lockhead">权限类别</th>
                                <th class="lockhead">数据权限字典名</th>
                                <th class="lockhead">是否菜单</th>
                                <th class="lockhead">权限父节点ID</th>
                                <th class="lockhead">权限分配页面ID</th>
                                <th class="lockhead">页面名称</th>
                            </tr>
                        </thead>
                        <tbody data-design_premsetid="Design_PremSetID">
                            @for (var i = 0; i < Model.Items.Count; i++)
                            {
                                var item = Model.Items[i];
                                <tr data-design_premsetid="@item.Design_PremSetID" >
                                    <td>
                                        @(i + 1)
                                    </td>
                                    <td>
                                        <a href='javascript:void(0);' data-btnbehavior="11" data-fun="41" data-btnnamecn="删除" class='btn btn-primary btn-xs   btn-FwRowUIPopup'>
                                            <span class='glyphicon glyphicon-trash'></span>删除</a>
                                        <a href="~/SysAreas/Design_PremSetBtn/EditList?Item.Design_PremSetID=@item.Design_PremSetID&Item.Design_ModularOrFunID=@item.Design_ModularOrFunID" class='btn btn-xs  btn-primary'>权限按钮配置</a>
                                        <a href="~/SysAreas/Design_PremSetControll/EditList?Item.Design_PremSetID=@item.Design_PremSetID&Item.Design_ModularOrFunID=@item.Design_ModularOrFunID" class='btn btn-xs  btn-primary'>权限控制器配置</a>
                                        @*<a href="~/AuthorizationAreas/Pre_Role/Detail?Item.Pre_RoleID=@item.Pre_RoleID" class='btn btn-xs  btn-primary'>删除</a>*@
                                    </td>
                                    <td>
                                        <input type='text'  class='form-control'  data-datatype='int' 
                                        data-fieldnamecn='排序序号' id='OrderNum' name='OrderNum' value='@item.OrderNum' />
                                    </td>
                                    <td>
                                        <input type='text'  class='form-control'  data-datatype='string' 
                                        data-fieldnamecn='权限名称' id='PremSetName' name='PremSetName' value='@item.PremSetName' />
                                    </td>
                                    <td>
                                        @Html.DropDownList("LoginCategoryID", LoginCategoryIDs, "Value", "Text", item.LoginCategoryID)
                                    </td>
                                    <td>
                                        <input type='text'  class='form-control'  data-datatype='int' 
                                        data-fieldnamecn='数据权限' id='DataRightDropDown' name='DataRightDropDown' value='@item.DataRightDropDown' />
                                    </td>
                                    <td>
                                        @Html.DropDownList("BMenu", BMenus, "Value", "Text", @item.BMenu)</td>
                                    <td>
                                        <input type='text'  class='form-control'  data-datatype='int' 
                                        data-fieldnamecn='权限父级节点ID' id='PremSetParentID' name='PremSetParentID' value='@item.PremSetParentID' />
                                    </td>
                                    <td>
                                        <input type='text'  class='form-control'  data-datatype='int' 
                                        data-fieldnamecn='菜单ID' id='MenuID' name='MenuID' value='@item.MenuID' />
                                    </td>
                                    <td>
                                        @item.ModularName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 分页 -->
            <div class="page-bar">
            </div>
        </div>
    </div>
    <div class='editArea'>
        <div class="container-fluid">
            <div class="form-footer1">
                <div class="text-right col-md-12">
                    <button class="btn  btn-primary btn-FwBtnSubmit"
                        data-targetdom=""
                        data-masteditarea=""
                        data-childtableselect=""
                        data-fun="300"
                        data-tableselect=""
                        data-pkname="Design_PremSetID"
                        data-posturl="/SysAreas/Design_PremSet/EditListSave"
                        data-targeturl="/SysAreas/Design_PremSet/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID"
                        data-targeturlparamname="">
                        保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
