@model MyResponseBase

@{
    Layout = null;// "~/Views/Shared/_Layout.cshtml";

    //字段类型：1：td  2:thead-data  4: tbody-data  6：thead|tbody-data
    List<TextValue> FieldFunTypeIDs = new List<TextValue>
    { 
        new TextValue{Text="==功能类型==",Value=""},
        new TextValue{Text="td",Value="1"},
        new TextValue{Text="thead-data",Value="2"},
        new TextValue{Text="td|thead-data",Value="3"},
        new TextValue{Text="tbody-data",Value="4"},
        new TextValue{Text="td|tbody-data",Value="5"},
        new TextValue{Text="thead|tbody-data",Value="6"},
        new TextValue{Text="td|thead|tbody-data",Value="7"},

    };

    //表单控件类型：1：文本框  2:标签  4：下拉列表框  8：Hidden  16:Radion  32:CheckBox
    List<TextValue> FormEleTypes = new List<TextValue>
    { 
        new TextValue{Text="====",Value=""},
        new TextValue{Text="td",Value="0"},        
        new TextValue{Text="文本框",Value="1"},
        new TextValue{Text="标签",Value="2"},
        new TextValue{Text="下拉",Value="4"},
        new TextValue{Text="下拉树",Value="128"},
        new TextValue{Text="隐藏",Value="8"},

        new TextValue{Text="单选",Value="16"},
        new TextValue{Text="复选框",Value="32"},
        new TextValue{Text="文本框(只读)",Value="64"},
    };

    //查询类型：1:模糊   2:等值   3:范围
    List<TextValue> QueryTypes = new List<TextValue>
    { 
        new TextValue{Text="====",Value=""},
        new TextValue{Text="模糊",Value="1"},
        new TextValue{Text="等值",Value="2"},
        new TextValue{Text="范围",Value="3"},
    };

    List<TextValue> bTabVers = new List<TextValue>
    { 
        new TextValue{Text="==回车垂直==",Value=""},
        new TextValue{Text="是",Value="1"},
    };

    //List<SoftProjectAreaEntity> Design_ModularOrFuns = new List<SoftProjectAreaEntity> { 
    //    new SoftProjectAreaEntity{PageFormEleTypeName="Page1FormEleType",QueryFormEleTypeName="Query2",ModularName="列表页"},
    //    new SoftProjectAreaEntity{PageFormEleTypeName="Page2FormEleType",QueryFormEleTypeName="Query3",ModularName="添加页"},
    //    new SoftProjectAreaEntity{PageFormEleTypeName="Page3FormEleType",QueryFormEleTypeName="Query4",ModularName="编辑页"},
    //    new SoftProjectAreaEntity{PageFormEleTypeName="Page4FormEleType",QueryFormEleTypeName="Query5",ModularName="查看页"},
    //};
    var Design_ModularOrFuns = Model.Item.Design_ModularOrFuns;
}

@for (var i = 0; i < Model.Items.Count; i++)
{
    var item = Model.Items[i];
    <tr data-design_modularfieldid="@item.Design_ModularFieldID" data-design_modularpagefieldid="@item.Design_ModularPageFieldID"
        data-namecn="@item.NameCn">
        <td>
            @(i + 1)
        </td>
        <td>
            <a href='javascript:void(0);' data-btnbehavior="11" data-fun="41" data-btnnamecn="删除"
                class='btn btn-primary btn-xs   btn-FwRowUIPopup'>删除</a>
        </td>
        <td>
            <input type='text'  class='form-control TableInfoSort'  data-datatype='int' 
                           data-tabnextcol="TableInfoSort"   data-fieldnamecn='排序序号' id='TableInfoSort' name='TableInfoSort' value='@item.TableInfoSort' />
        </td>
        <td>
            @Html.DropDownList("FieldFunTypeID", FieldFunTypeIDs, "Value", "Text", item.FieldFunTypeID)
        </td>
        <td>
            @item.name
        </td>
        <td>
            @item.NameCn
        </td>

        @for (int m = 0; m < Design_ModularOrFuns.Count; m++)
        {
            if (Design_ModularOrFuns[m].PageFormEleTypeName == "Page01FormEleType")
            {
            <td>
                    @Html.DropDownList("Page01FormEleType", FormEleTypes, "Value", "Text", item.Page01FormEleType)
            </td>
            }
            if (Design_ModularOrFuns[m].PageFormEleTypeName == "Page02FormEleType")
            {
            <td>
                    @Html.DropDownList("Page02FormEleType", FormEleTypes, "Value", "Text", item.Page02FormEleType)
            </td>
            }
            if (Design_ModularOrFuns[m].PageFormEleTypeName == "Page03FormEleType")
            {
            <td>
                    @Html.DropDownList("Page03FormEleType", FormEleTypes, "Value", "Text", item.Page03FormEleType)
            </td>
            }
            if (Design_ModularOrFuns[m].PageFormEleTypeName == "Page04FormEleType")
            {
            <td>
                    @Html.DropDownList("Page04FormEleType", FormEleTypes, "Value", "Text", item.Page04FormEleType)
            </td>
            }
            if (Design_ModularOrFuns[m].PageFormEleTypeName == "Page05FormEleType")
            {
            <td>
                    @Html.DropDownList("Page05FormEleType", FormEleTypes, "Value", "Text", item.Page05FormEleType)
            </td>
            }
            if (Design_ModularOrFuns[m].PageFormEleTypeName == "Page06FormEleType")
            {
            <td>
                    @Html.DropDownList("Page06FormEleType", FormEleTypes, "Value", "Text", item.Page06FormEleType)
            </td>
            }
            if (Design_ModularOrFuns[m].PageFormEleTypeName == "Page07FormEleType")
            {
            <td>
                    @Html.DropDownList("Page07FormEleType", FormEleTypes, "Value", "Text", item.Page07FormEleType)
            </td>
            }
            if (Design_ModularOrFuns[m].PageFormEleTypeName == "Page08FormEleType")
            {
            <td>
                    @Html.DropDownList("Page08FormEleType", FormEleTypes, "Value", "Text", item.Page08FormEleType)
            </td>
            }
            if (Design_ModularOrFuns[m].PageFormEleTypeName == "Page09FormEleType")
            {
            <td>
                    @Html.DropDownList("Page09FormEleType", FormEleTypes, "Value", "Text", item.Page09FormEleType)
            </td>
            }
            if (Design_ModularOrFuns[m].PageFormEleTypeName == "Page10FormEleType")
            {
            <td>
                    @Html.DropDownList("Page10FormEleType", FormEleTypes, "Value", "Text", item.Page10FormEleType)
            </td>
            }

            if (Design_ModularOrFuns[m].QueryFormEleTypeName == "Query01")
            {
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query01FormEleType", FormEleTypes, "Value", "Text", item.Query01FormEleType)
                }
            </td>
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query01QueryType", QueryTypes, "Value", "Text", item.Query01QueryType)
                }
            </td>
            }
            if (Design_ModularOrFuns[m].QueryFormEleTypeName == "Query02")
            {
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query02FormEleType", FormEleTypes, "Value", "Text", item.Query02FormEleType)
                }
            </td>
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query02QueryType", QueryTypes, "Value", "Text", item.Query02QueryType)
                }
            </td>
            }
            if (Design_ModularOrFuns[m].QueryFormEleTypeName == "Query03")
            {
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query03FormEleType", FormEleTypes, "Value", "Text", item.Query03FormEleType)
                }
            </td>
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query03QueryType", QueryTypes, "Value", "Text", item.Query03QueryType)
                }
            </td>
            }
            if (Design_ModularOrFuns[m].QueryFormEleTypeName == "Query04")
            {
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query04FormEleType", FormEleTypes, "Value", "Text", item.Query04FormEleType)
                }
            </td>
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query04QueryType", QueryTypes, "Value", "Text", item.Query04QueryType)
                }
            </td>
            }
            if (Design_ModularOrFuns[m].QueryFormEleTypeName == "Query05")
            {
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query05FormEleType", FormEleTypes, "Value", "Text", item.Query05FormEleType)
                }
            </td>
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query05QueryType", QueryTypes, "Value", "Text", item.Query05QueryType)
                }
            </td>
            }
            if (Design_ModularOrFuns[m].QueryFormEleTypeName == "Query06")
            {
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query06FormEleType", FormEleTypes, "Value", "Text", item.Query06FormEleType)
                }
            </td>
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query06QueryType", QueryTypes, "Value", "Text", item.Query06QueryType)
                }
            </td>
            }
            if (Design_ModularOrFuns[m].QueryFormEleTypeName == "Query07")
            {
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query07FormEleType", FormEleTypes, "Value", "Text", item.Query07FormEleType)
                }
            </td>
            <td>
                @if (item.Design_ModularFieldID >= 100)
                {
                    @Html.DropDownList("Query07QueryType", QueryTypes, "Value", "Text", item.Query07QueryType)
                }
            </td>
            }
        }
        <td>
            @Html.DropDownList("bTabVer", bTabVers, "Value", "Text", item.bTabVer)

            @*            <input type='text'  class='form-control cssclass'  data-datatype='string' 
                           data-tabnextcol="cssclass"   data-fieldnamecn='css类' id='cssclass' name='cssclass' value='@item.cssclass' />*@
        </td>

        <td>
            <input type='text'  class='form-control calcol'  data-datatype='string' 
                           data-tabnextcol="calcol"   data-fieldnamecn='列计算表达式' id='calcol' name='calcol' value='@item.calcol' />
        </td>
        <td>
            <input type='text'  class='form-control calrow'  data-datatype='string' 
                           data-tabnextcol="calrow"   data-fieldnamecn='行计算表达式' id='calrow' name='calrow' value='@item.calrow' />
        </td>
        <td>
            <input type='text'  class='form-control EditAreaName'  data-datatype='string' 
                           data-tabnextcol="EditAreaName"   data-fieldnamecn='编辑区域名' id='EditAreaName' name='EditAreaName' value='@item.EditAreaName' />
        </td>

    </tr>
}
