@model MyResponseBase

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<TextValue> btnValid = new List<TextValue>
    { 
        new TextValue{Text="有效",Value="1"},
        new TextValue{Text="无效",Value="0"},
    };


    List<TextValue> OperPoss = new List<TextValue>
    { 
        new TextValue{Text="工具条",Value="1"},
        new TextValue{Text="表格行",Value="2"},
        new TextValue{Text="脚",Value="3"},
    };


    List<TextValue> BtnTypes = new List<TextValue>
    { 
        new TextValue{Text="一般按钮",Value="1"},
        new TextValue{Text="上传按钮",Value="2"},
    };

    List<TextValue> BtnBehaviors = new List<TextValue>
    {
        //列表页：添加、编辑、审核
        //新页:返回
        //注意：如果跳转的控制器有参数，则设置参数
        //参数：将参数拼接到url中：posturl
        new TextValue{Text="通用：Url(跳转)",Value="1"},//##################
        //树：单击
        //案例审核：首记录、上一条...
        //注意：如果跳转的控制器有参数，则设置参数
        //参数：(1)将参数拼接到url中:posturl，(2)targerdom：存放目标Dom选择器，默认为“.targerdom
        new TextValue{Text="通用：UrlDom查询(Ajax)",Value="2"},//##############

        //注意：如果跳转的控制器有参数，则设置参数
        //参数：事先无法确定参数值
        //参数：(1)posturl，(2)targparam：存放参数名。
        new TextValue{Text="通用：Url-TargerParam查询(跳转)",Value="3"},
        //参数：事先无法确定参数值
        //参数：(1)posturl，(2)targparam：存放参数名。(3)targerdom：存放目标Dom选择器，默认为“.targerdom”       
        new TextValue{Text="通用：Url-TargerParam查询-Dom查询(Ajax)",Value="4"},
        
        //new TextValue{Text="列表(Tool):弹窗UI",Value="11"},
        //new TextValue{Text="列表(Tool):弹窗UI--批量",Value="16"},
        new TextValue{Text="弹窗-Url",Value="10"},//弹窗添加(Get)#################
        //new TextValue{Text="弹窗-Url(审核等)",Value="13"},//弹窗编辑(Get)
        new TextValue{Text="弹窗-选择(待定)",Value="15"},

        //new TextValue{Text="列表(Tool):导出UrlParam-Alink",Value="12"},
        //new TextValue{Text="列表(Row)：弹窗(UrlParam查询)Alink",Value="13"},
        //new TextValue{Text="查询(导出)",Value="14"},
        //new TextValue{Text="提交后台",Value="21"},
        new TextValue{Text="弹窗:添加-保存并关闭",Value="101"},//####################
        new TextValue{Text="弹窗:添加-保存并添加",Value="102"},//####################
        new TextValue{Text="新页：添加-保存并添加",Value="105"},//案例评论  提交-Targer-插入表格Row
        new TextValue{Text="弹窗:编辑-保存并关闭",Value="111"},//####################

        new TextValue{Text="新页：Url查询(Ajax)-插入表格Row",Value="200"},//工具上传：添加################

        
        //案例审核：审核并返回 提交-UrlParam查询(Alink)
        //添加功能：保存并返回
        //编辑功能：保存并返回
        new TextValue{Text="新页:提交+Url查询(跳转)",Value="300"},//案例审核：审核并下一条,提交-UrlParam查询(Ajax)-替换Dom
        //UrlParam查询(Ajax)-替换Dom
        //案例审核：审核并下一条,提交-UrlParam查询(Ajax)-替换Dom
        new TextValue{Text="新页:提交+Url-Dom查询(Ajax)",Value="301"},

        //添加功能：添加并进行编辑，配货并进行发货行        
        new TextValue{Text="新页:提交+Url-TargerParam查询(跳转)",Value="310"},
        new TextValue{Text="新页:提交+Url-TargerParam-Dom查询(Ajax)",Value="311"},
        new TextValue{Text="查询按钮",Value="400"},

        
        
        
        new TextValue{Text="前台删除(弹窗UI)",Value="41"},
        new TextValue{Text="前后台删除(弹窗UI)",Value="42"},

        new TextValue{Text="后台操作-不更新表格行(弹窗UI)--",Value="70"},//重置密码
        new TextValue{Text="后台操作-更新表格行(弹窗UI)--",Value="71"},//启动、停止：现都放在编辑界面
        
        
        new TextValue{Text="弹窗UI--批量删除",Value="51"},
        new TextValue{Text="导出",Value="60"},

                       
        //new TextValue{Text="弹窗-选择",Value="15"},
    };


    //List<TextValue> BtnBehaviors = new List<TextValue>
    //{ 
    //    //new TextValue{Text="弹窗UI",Value="11"},
    //    //new TextValue{Text="弹窗Get",Value="12"},
    //    //new TextValue{Text="跳转",Value="13"},
    //    //new TextValue{Text="提交后台",Value="21"},

    //    //new TextValue{Text="弹窗UI",Value="11"},
    //    //new TextValue{Text="弹窗Get",Value="12"},
    //    //new TextValue{Text="跳转",Value="13"},
    //    //new TextValue{Text="查询(导出)",Value="14"},
    //    //new TextValue{Text="提交后台",Value="21"},

    //    new TextValue{Text="弹窗UI",Value="11"},
    //    new TextValue{Text="弹窗UI--批量",Value="16"},
    //    new TextValue{Text="弹窗Get",Value="12"},
    //    new TextValue{Text="跳转",Value="13"},
    //    new TextValue{Text="Url查询-Ajax",Value="24"},

    //    new TextValue{Text="查询(导出)",Value="14"},
    //    new TextValue{Text="提交后台",Value="21"},
    //    new TextValue{Text="弹窗-选择",Value="15"},
    //};

    List<TextValue> PopupAfterTableFuns = new List<TextValue>
    { 
        //new TextValue{Text="==后续==",Value=""},
        //new TextValue{Text="保存并添加",Value="13"},
        //new TextValue{Text="保存继续编辑",Value="26"},
        //new TextValue{Text="保存关闭-插入行",Value="11"},
        //new TextValue{Text="保存关闭-替换行",Value="27"},
        //new TextValue{Text="保存跳转",Value="28"},

        new TextValue{Text="==后续==",Value=""},
        new TextValue{Text="保存并关闭-插入行(弹窗Get)",Value="101"},
        new TextValue{Text="保存并添加-插入行(弹窗Get)",Value="102"},
        new TextValue{Text="保存并添加-插入行(新页)",Value="103"},//案例评论
        
        new TextValue{Text="保存并关闭-替换行(弹窗Get)",Value="111"},
        new TextValue{Text="保存并编辑-替换行(弹窗Get)",Value="112"},

        new TextValue{Text="保存并跳转-Alink(新页)",Value="121"},
        new TextValue{Text="保存并查询-Ajax(新页)",Value="123"},
        
        new TextValue{Text="保存并编辑-(新页)",Value="122"},
        
        new TextValue{Text="前台删除(弹窗UI)",Value="41"},
        //new TextValue{Text="删除(弹窗UI)-批量",Value="42"},
        
        
        //new TextValue{Text="上一条",Value="24"},
        //new TextValue{Text="下一条",Value="25"},
        //new TextValue{Text="关闭窗体",Value="18"},
        //new TextValue{Text="关闭并重载",Value="19"},
        //new TextValue{Text="确认并下一条",Value="23"},        
    };

                //List<TextValue> PopupAfterTableFuns = new List<TextValue>
                //{ 
                //    new TextValue{Text="==后续==",Value=""},
                //    new TextValue{Text="保存并关闭-插入行(弹窗Get)",Value="101"},
                //    new TextValue{Text="保存并添加-插入行(弹窗Get)",Value="102"},
                //    new TextValue{Text="保存并添加-插入行",Value="103"},
                //    new TextValue{Text="保存并关闭-替换行(弹窗Get)",Value="111"},
                //    new TextValue{Text="保存并编辑-替换行(弹窗Get)",Value="112"},

                //    new TextValue{Text="保存并跳转-(新页)",Value="121"},
                //    new TextValue{Text="保存并编辑-(新页)",Value="122"},
                //    new TextValue{Text="保存并查询-Ajax(新页)",Value="123"},

                //    //new TextValue{Text="==后续==",Value=""},
                //    //new TextValue{Text="保存并添加",Value="13"},
                //    //new TextValue{Text="保存继续编辑",Value="26"},
                //    //new TextValue{Text="保存关闭-插入行)",Value="11"},
                //    //new TextValue{Text="保存关闭-替换行(保存跳转)",Value="27"},

                //    //new TextValue{Text="上一条",Value="24"},
                //    //new TextValue{Text="下一条",Value="25"},
                //    //new TextValue{Text="关闭窗体",Value="18"},
                //    //new TextValue{Text="关闭并重载",Value="19"},
                //    //new TextValue{Text="确认并下一条",Value="23"},        
                //};

}

<div id='editP' class="operArea">
    <div>
        @*@Html.Navigation(Model.ModularOrFunCode)*@

        <ul class="breadcrumb myjuxing">
            <li><span class="icon-home"></span><a href="/">首页</a></li>
            <li>设计管理</li>
            <li><a href="/SysAreas/Design_ModularOrFun/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunParentID">子功能配置</a></li>
            <li>按钮配置</li>
        </ul>
    </div>
    <ul class="nav nav-tabs mybottabs">
        @if (Model.Disabled == "")
        {
@*<li><a href="/SysAreas/Design_ModularOrFun/Edit?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID">基本配置</a></li>
            <li><a href="/SysAreas/Design_ModularField/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >模块字段</a></li>
            <!--页面字段管理、页面查询条件字段管理(列表页)-->
            <li><a href="/SysAreas/Design_ModularPage/Index?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >页面管理</a></li>
            <li class="active"><a href="/SysAreas/Design_ModularOrFunBtn/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >模块按钮</a></li>
            <li><a href="/SysAreas/Design_ModularOrFunControll/?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >控制器</a></li>                        
            <li><a href="/SysAreas/Design_ModularOrFunBtnControll/?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >按钮控制器</a></li>                        
            <li><a href="/SysAreas/Design_ModularOrFunDomain/?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >业务逻辑</a></li>
            <li><a href="/SysAreas/Design_ModularOrFunDomainDetail/?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >业务步骤</a></li>*@

@*<li ><a href="/SysAreas/Design_ModularOrFun/Edit?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID">基本配置</a></li>
            <li><a href="/SysAreas/Design_ModularField/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >模块字段</a></li>
            <!--页面字段管理、页面查询条件字段管理(列表页)-->
            <li><a href="/SysAreas/Design_ModularPage/Index?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >页面管理</a></li>
            <li><a href="/SysAreas/Design_ModularOrFunControll/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >控制器</a></li>
            <li><a href="/SysAreas/Design_ModularOrFunDomain/Index?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >业务逻辑</a></li>
            <li><a href="/SysAreas/Design_ModularOrFunSql/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >TSql</a></li>
            <li class="active"><a href="/SysAreas/Design_ModularOrFunBtn/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID" >模块按钮</a></li>*@
        }
    </ul>
    <div class='mastEditArea editArea  '>
        <form>
            <div class="container-fluid margin-top-15">
                <div class='form-horizontal merge targetdom'>
                    <input type='hidden' id=Item_Design_ModularOrFunID name='Item.Design_ModularOrFunID' value='@Model.Item.Design_ModularOrFunID' />
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid childTableSelect">
        <div class='operArea' data-searchmethod='' data-url="">
            <div class="search-bar">
                <div class="tool-bar search-bar">
                    <div class="col-sm-2">
                        <a href='javascript:void(0);' data-tableid="#tbList" class='btn btn-success  btn-FwBtnSubmit'
                            data-posturl="/SysAreas/Design_ModularOrFunBtn/Row"
                            data-fun="200">
                            <span class="glyphicon glyphicon-plus"></span>添加按钮</a>
                    </div>
                    <div class="col-sm-10 text-right form-inline" id="SearchArea">
                    </div>
                </div>
            </div>
            <div style="clear: both; margin-bottom: 10px;"></div>
            <div class="scrollBar scrollBarAuto" style="width: 100%;" data-width="2000">
                <div class="mylist container-fluid container" style="width: 100%;">
                    <table id='tbList' class=" table table-bordered table-hover table-striped" style="width: 100%">

                        @*                        <div class="scrollBar scrollBarAuto" style="width: 1800px;" data-width="1800">
                            <div class="mylist container-fluid container" style="width: %;">
                                <table id='tbList' class="table table-bordered table-hover table-striped " style="width: 100%;">*@
                        <thead>
                            <tr>
                                <th class="lockhead" style="width: 60px;">序号 </th>
                                <th class="lockhead">操作 </th>
                                <th class="lockhead" style="width: 100px;">序号 </th>

                                <th class="lockhead" style="width: 150px;">按钮名称</th>

                                <th class="lockhead" style="width: 150px;">按钮类型</th>
                                <th class="lockhead">位置</th>
                                <th class="lockhead">行为</th>
                                <th class="lockhead">是否有效</th>
                                <th class="lockhead" style="width: 250px;">显示条件</th>

                                <th class="lockhead" style="width: 250px;">附加信息</th>
                            </tr>
                        </thead>
                        <tbody data-collsname="Design_ModularOrFunBtns" data-design_modularorfunbtnid="Design_ModularOrFunBtnID">
                            @for (var i = 0; i < Model.Items.Count; i++)
                            {
                                var item = Model.Items[i];
                                <tr data-design_modularorfunbtnid="@item.Design_ModularOrFunBtnID" >
                                    <td>
                                        @(i + 1)
                                    </td>
                                    <td>
                                        <a href='javascript:void(0);' data-btnbehavior="11" data-fun="41" data-btnnamecn="删除" class='btn btn-primary btn-xs   btn-FwRowUIPopup'>
                                            <span class='glyphicon glyphicon-trash'></span>删除</a>
                                        <a href="~/SysAreas/Design_ModularOrFunBtnControll/EditListFun?Item.Design_ModularOrFunBtnID=@item.Design_ModularOrFunBtnID&Item.Design_ModularOrFunID=@item.Design_ModularOrFunID&Item.Design_ModularOrFunParentID=@Model.Item.Design_ModularOrFunParentID" class='btn btn-xs  btn-primary'>按钮控制器</a>
                                        @*<a href="~/AuthorizationAreas/Pre_Role/Detail?Item.Pre_RoleID=@item.Pre_RoleID" class='btn btn-xs  btn-primary'>删除</a>*@
                                    </td>
                                    <td>
                                        <input type='text'  class='form-control'  data-datatype='string' 
                                        data-fieldnamecn='排序' id='Item_Sort' name='Sort' value='@item.Sort' />
                                    </td>
                                    <td>
                                        <input type='text'  class='form-control'  data-datatype='string' 
                                        data-fieldnamecn='按钮名称' id='Item_BtnNameCn' name='BtnNameCn' value='@item.BtnNameCn' />
                                    </td>
                                    <td>
                                        @Html.DropDownList("BtnType", BtnTypes, "Value", "Text", item.BtnType)
                                    </td>

                                    <td>
                                        @Html.DropDownList("OperPos", OperPoss, "Value", "Text", item.OperPos)
                                    </td>
                                    <td>
                                        @Html.DropDownList("BtnBehavior", BtnBehaviors, "Value", "Text", item.BtnBehavior)
                                    </td>
                                    <td>
                                        @Html.DropDownList("bValid", btnValid, "Value", "Text", item.bValid)
                                    </td>
                                    <td>
                                        <input type='text'  class='form-control'  data-datatype='string' 
                                        data-fieldnamecn='按钮显示条件' id='Item_DispConditionsExpression' name='DispConditionsExpression' value='@item.DispConditionsExpression' />
                                    </td>
                                    <td>
                                        <input type='text'  class='form-control'  data-datatype='string' 
                                        data-fieldnamecn='附加信息' id='Item_ModularOrFunBtnRemark' name='ModularOrFunBtnRemark' value='@item.ModularOrFunBtnRemark' />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 分页 -->
            <div class="page-bar">
            </div>
        </div>
    </div>
    <div class='editArea'>
        <div class="container-fluid">
            <div class="form-footer1">
                <div class="text-right col-md-12">
                    <button class="btn  btn-primary btn-FwBtnSubmit"
                        data-targetdom=""
                        data-masteditarea=""
                        data-childtableselect=""
                        data-fun="300"
                        data-tableselect=""
                        data-pkname="Design_ModularOrFunBtnID"
                        data-posturl="/SysAreas/Design_ModularOrFunBtn/EditListSave"
                        data-targeturl="/SysAreas/Design_ModularOrFunBtn/EditList?Item.Design_ModularOrFunID=@Model.Item.Design_ModularOrFunID&Item.Design_ModularOrFunParentID=@Model.Item.Design_ModularOrFunParentID"
                        data-targeturlparamname="">
                        保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
