@model MyResponseBase

@{
    Layout = null;// "~/Views/Shared/_Layout.cshtml";

    //List<TextValue> ActionNames = new List<TextValue>
    //{ 
    //    new TextValue{Text="ActionResult",Value="1"},
    //    new TextValue{Text="HJsonResult",Value="2"},
    //};
    ////返回的View名称：1:Index   20:Edit 22:PopupEdit  25:EditPartial  40:Row  
    //List<TextValue> ViewNames = new List<TextValue>
    //{ 
    //    new TextValue{Text="==返回视图==",Value=""},
    //    new TextValue{Text="Index",Value="1"},
    //    new TextValue{Text="Edit",Value="20"},
    //    new TextValue{Text="PopupEdit",Value="22"},

    //    new TextValue{Text="EditPartial",Value="25"},
    //    new TextValue{Text="Row",Value="40"},
    //};
}
@for (var i = 0; i < Model.Items.Count; i++)
{
    var item = Model.Items[i];
    <tr data-design_premsetbtnid="@item.Design_PremSetBtnID" data-design_premsetid="@item.Design_PremSetID" data-design_modularorfunbtnid="@item.Design_ModularOrFunBtnID">
        <td>
            @(i + 1)
        </td>
        <td>
            <a href='javascript:void(0);' data-btnbehavior="11" data-fun="41" data-btnnamecn="删除" class='btn btn-primary btn-xs   btn-FwRowUIPopup'>
                <span class='glyphicon glyphicon-trash'></span>删除</a>
        </td>
        <td>
            <input type='text'  class='form-control Sort'  data-datatype='int' 
                           data-tabnextcol="Sort"  data-fieldnamecn='序号' id='Sort' name='Sort' value='@item.Sort' />
        </td>
        <td>
            @item.BtnNameCn
        </td>
        <td>
            @item.ModularName
        </td>
    </tr>
}
