@model MyResponseBase

@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var conts = ViewContext.Controller as BaseController;
    var modulars = conts.Design_ModularOrFun;
    var btns = conts.LoginModulerBtns(modulars.ModularOrFunCode, 3);
}

<div>
    <div>
        <ul class="breadcrumb myjuxing">
            <li><span class="icon-home"></span><a href="/">首页</a></li>
            <li>
                @if (Model.Item.Doc_CategoryID == 17)
                {
                    <a href="/DocArea/Doc_Docment/IndexLatestNotification">@Model.Item.DocCategoryName</a>
                }
                else if (Model.Item.Doc_CategoryID == 18)
                { 
                    <a href="/DocArea/Doc_Docment/IndexStudyMember">@Model.Item.DocCategoryName</a>
                }
                else if (Model.Item.Doc_CategoryID == 19)
                { 
                    <a href="/DocArea/Doc_Docment/IndexStaffStyle">@Model.Item.DocCategoryName</a>
                }
                else if (Model.Item.Doc_CategoryID == 20)
                { 
                    <a href="/DocArea/Doc_Docment/IndexMarketingInformation">@Model.Item.DocCategoryName</a>
                }
                else if (Model.Item.Doc_CategoryID == 21)
                { 
                    <a href="/DocArea/Doc_Docment/IndexHeadquartersDynamics">@Model.Item.DocCategoryName</a>
                }
                else if (Model.Item.Doc_CategoryID == 22)
                { 
                    <a href="/DocArea/Doc_Docment/IndexLatestStatement">@Model.Item.DocCategoryName</a>
                }
                else if (Model.Item.Doc_CategoryID == 23)
                { 
                    <a href="/DocArea/Doc_Docment/IndexTrainingDynamics">@Model.Item.DocCategoryName</a>
                }
                else if (Model.Item.Doc_CategoryID == 24)
                { 
                    <a href="/DocArea/Doc_Docment/IndexFraStyle">@Model.Item.DocCategoryName</a>
                }
                else if (Model.Item.Doc_CategoryID == 25)
                { 
                    <a href="/DocArea/Doc_Docment/IndexExcitingLife">@Model.Item.DocCategoryName</a>
                }
            </li>
            <li>@Model.Item.DocmentTitle</li>
        </ul>
    </div>
    <div style="clear: both; margin-bottom: 10px;"></div>
    <div class="targetdom container-fluid">
        <div class='mastEditArea editArea'>
            <form>
                <div class="container-fluid">
                    <div class='form-horizontal merge '>
                        @Html.Raw(Model.Item.DocmentContext)
                        @*@Html.HeadPageHtml(Model.Item, Model.ModularOrFunCode, 4)*@
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

