@model MyResponseBase

@{
    Layout = null;
    var conts = ViewContext.Controller as BaseController;
    var modulars = conts.Design_ModularOrFun;
    var btns = conts.LoginModulerBtns(modulars.ModularOrFunCode, 3);

    var request = new
    {
        FunNameEn = Model.FunNameEn,
        Item = Model.EditAction
    };
}

<div class="targetdom container-fluid">
    <div class='mastEditArea editArea'>
        <form>
            <div class="container-fluid">
                @if (!string.IsNullOrEmpty(modulars.PageTitle))
                {
                    <div class="control-label" style="text-align: center;">
                        <h1>@modulars.PageTitle</h1>
                    </div>
                }
                <div class='form-horizontal merge '>
                    <ul class="form-horizontal merge table-panel" style="margin-left: 30%; margin-right: 30%;">
                        @Html.FormEleHtml1N(Model.Item, Model.ModularOrFunCode, 4)
                        @if (Model.EditAction != null)
                        {
                            <li class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" style="text-align: right; width: 12.5%;">
                                        @Model.EditAction.LableTitle
                                    </label>
                                    <div class="col-lg-10" style="width: 87.5%;">
                                        @Html.Action(Model.EditAction.ActionNameEn, Model.EditAction.ControllName, request)
                                        <br />
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <div class='editArea'>
        <div class="container-fluid">
            <div class="form-footer1">
                <div class="col-md-12" style="margin-left: 45%;">
                    @Html.BtnFooterHtml(Model.Item, Model.ModularOrFunCode, btns)
                </div>
            </div>
        </div>
    </div>
</div>
