@model MyResponseBase

@{
    Layout = null;
    var conts = ViewContext.Controller as BaseController;
    var modulars = conts.Design_ModularOrFun;
    //工具条按钮
    var btns = conts.ToolBarBtns(Model.Item, modulars.ModularOrFunCode, 1);
    var btnsrows = conts.LoginModulerBtns(modulars.ModularOrFunCode, 2);
        //var btns = ProjectCache.Design_ModularOrFunBtns.Where(p => p.ModularOrFunCode == modulars.ModularOrFunCode && (p.OperPos == 1)).OrderBy(p => p.Sort).ToList();
}
<div class="container-fluid  targetdom ">
    <div class='operArea' data-searchmethod='@modulars.SearchMethod' data-url="@modulars.ActionPath" data-targetdom=".targetdom">
        @if (btns != null && btns.Count > 0 || modulars.QueryFormEleTypeName != null)
        {
            <div class="search-bar">
                <div class="tool-bar search-bar ">
                    <div class="col-sm-@modulars.ToolbarButtonAreaWidth">
                        @Html.ToolBarHtml(Model.Item, modulars, btns)
                    </div>
                    <div class="col-sm-@modulars.ToolbarSearchAreaWidth text-right form-inline" id="SearchArea">
                        @Html.QueryHtml(Model.Querys, Model.ModularOrFunCode, Model.Item)
                    </div>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(modulars.SortCol))
        {
            <div style="clear: both; margin-bottom: 10px;"></div>
            <div class="sortArea">
                <div class="dandupaixu">
                    <div class="col-md-9">
                        <label class="contorl-label pull-left">排序：</label>
                        @Html.SortHtml(Model.PageQueryBase.RankInfos)
                    </div>
                    <div class="col-md-3 row pull-right">
                        <div class=" visible-lg-block list-nameber">总<span class="green">@Model.PageQueryBase.TotalItems</span>条，当前 @Model.PageQueryBase.PageIndex/@Model.PageQueryBase.TotalPages 页</div>
                    </div>
                </div>
            </div>
        }
        <div style="clear: both; margin-bottom: 10px;"></div>

        <div id='editPItems'>
            @if (Model.Items.Count > 0)
            {
                foreach (var Item in Model.Items)
                {
                <div class="editPItem">
                    <div class="main_wrap">
                        <div class="kPanel_wrap panel panel-primary" style="width: 100%;">
                            <div class="kPanel_content_wrap panel-body">
                                <div class="kPanel_content">
                                    <div class='mastEditArea editArea'>
                                        <form>
                                            <div class="container-fluid">
                                                <div class='form-horizontal merge '>
                                                    <ul class="form-horizontal merge table-panel">
                                                        @Html.FormEleHtml(Item, Model.ModularOrFunCode, 4)
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div style="clear: both"></div>
                                    <!--列表页面-->
                                    <!--无列表页面-->
                                    @if (Model.ChildAction != null)
                                    {
                                        var requestItem = SoftProject.Domain.ProjectCommon.BulidRequest(Item, Model.ChildAction);

                                        var request = new
                                        {
                                            FunNameEn = Model.FunNameEn,
                                            Item = requestItem
                                        };
                                        @Html.Action(Model.ChildAction.ActionNameEn, Model.ChildAction.ControllName, request)
                                    }
                                </div>
                            </div>
                            @if (btnsrows.Count > 0)
                            {
                                <div class="panel-footer" style="overflow: hidden;">
                                    <div class="pull-left">
                                    </div>
                                    <style>
                                        .panel-footer:empty {
                                            display: none;
                                        }
                                    </style>
                                    <div class="mybtntool pull-right">
                                        @Html.BtnFooterHtml(Item, Model.ModularOrFunCode, btnsrows)
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                }
            }
        </div>
        <!-- 分页 -->
        @if (modulars.bPage == 1)
        {
            <div class="page-bar">
                @Html.Partial("_PagingOption", Model.PageQueryBase)

            </div>
        }
    </div>
</div>

